@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* MISE EN FORME GÉNÉRALE */

* /* Police de la page */
{
    font-family: 'ralewayregular', Arial, Helvetica, sans-serif;
}

input 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body 
{
    margin: 0;
    max-width: 1440px;
    width: 100%;
    justify-content: center;
}

header, main
{
    margin-right: 30px;
    margin-left: 30px; 
}

a 
{
    text-decoration: none;
    color: black;
}

.texte_gras
{
    font-weight: bold;
}

/* HEADER */

header /* Disposition du header */
{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 45px;
}

#logo /* Mise en page du logo*/
{
    margin-right: auto;
    padding-top: 8px;
}

#Hébergements, #Activités /* Mise en forme onglets "Héberhements" et "Activités" */
{
    margin-right: 30px;
    padding-top: 20px;
    border-top: transparent solid 2px;
}

#Hébergements:hover, #Activités:hover /* Au survol : mise en forme onglets "Héberhements" et "Activités" */
{
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

#Inscription /* Mise en page et mise en forme onglet inscription */
{
    font-weight: bold;
    color: #0065FC;
    padding-top: 22px;
}


/* SECTION 1 */


/* Bloc recherche */

h1 /* Taille police titre h1 */
{
    font-size: 1.1em;
}

h1 + p /* Taille police et marge inférieure */
{
    font-size: 0.9em;
    margin-bottom: 30px;
}

#formulaire /* Mise en page du formulaire de recherche */
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 26px;
}

#icon_localisation /* Mise en forme de l'icone localisation */
{
    border-top-left-radius: 12px; /* Création de l'arrondi de la bordure */
    border-bottom-left-radius: 12px; /* Création de l'arrondi de la bordure */
    background-color: #F2F2F2;
    padding: 9px;
}

#destination /* Mise en forme du champs de recherche */
{
    border: solid 1px #F2F2F2;
    padding: 10px;
}

#rechercher /* Mise en forme du bouton rechercher */
{
    border: solid 2px #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px; 
    background-color: #0065FC;
    color: white;
    font-size: 0.8em;
    padding: 9px;
}

#rechercher i
{
    display: none;
}


/* Filtres */

#bloc_filtres /* Mise en page et mise en forme du bloc filtres */
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#mot_filtres /* Mise en forme du mot "filtres" */
{
    margin-right: 30px;
}


#filtres
{
    display: flex;
}

.tuile-filtre
{
    /* Mise en page */
    display: flex;
    align-items: center; 
    /* bordues */
    border-top: #F2F2F2 solid  1.5px;
    border-bottom: #F2F2F2 solid  1.5px;
    border-right: #F2F2F2 solid  1.5px;
    border-radius: 80px; 
    /* Marges et padding */
    margin-right: 30px;
    padding-right: 20px;
}

.tuile-filtre:hover /*Mise en forme des filtres au survol*/
{
    background-color: #F2F2F2;
}

.texte_filtres
{
    padding-left: 10px;
}

#icon_économique, #icon_familial, #icon_romantique, #icon_animaux
{
    /* Mise en page */
    display: flex;
    justify-content: center;
    align-items: center; 
    /* Mise en forme */
    color: #0065FC;
    border-radius: 100%;
    background-color: #DEEBFF;
    padding: 8px;
    width: 15px;
    height: 15px;
}


/* Information */

#information /* Mise en page texte et icone information */
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

#icon_information /* Mise en forme icone information */
{
    /* Mise en page */
    display: flex;
    justify-content: center;
    /* Mise en forme */
    font-size: 0.6em;
    color: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    /* Marges et padding*/
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    /* Taille */
    width: 10px;
    height: 10px;
}


/* SECTION 2 */

#section_hébergements /* Mise en page des deux blocs */
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#Hébergements_marseille, #Hébergements_les_plus_populaires
{
    border-radius: 15px;
    background-color: #F2F2F2;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.bleu /* Couleur des étoiles */
{
    color: #0065FC;
}

.gris /* Couleur des étoiles */
{
    color: #F2F2F2;
}


/* Bloc hébergement à Marseille */

#Hébergements_marseille /* Mise en forme du bloc "Hébergements à Mareille" */
{
    width: 60%;
}

.titre_hébergements /* Mise en forme du titre */
{
    margin-bottom: 20px;
}

#Bloc_hébergements /* Mise en forme du bloc comprenant les tuiles hébergement */
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Tuile_hébergement /* Mise en forme de chaque tuile hébergement */
{
    border: solid 2px white;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
    width: 29%;
    max-height: 160px;
    margin-bottom: 42px;
}

.photos_hébergements /* Mise en forme des photos du bloc Hébergement à Marseille */
{
    width: 100%;
    height: 57%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 5px;
}

.texte1 /* Nom de l'hôtel */ 
{
    margin: 4px;
    font-size: 0.7em;
    font-weight: bold;
}

.texte /* "à partir de" */
{
    margin: 4px;
    font-size: 0.7em;
    font-weight: normal;
}




/* Bloc hébergements populaires */


#Hébergements_les_plus_populaires /* Largeur du bloc Hébergements populaires */ 
{
    width: 30%;   
}

#bloc_titre_hébergements_populaires /* Mise en forme du bloc titre */ 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#titre_hébergements_populaires
{
    margin-right: 100px;
}

#bloc_hébergements_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 440px;
}

.tuile_hébergement_populaire
{
    display: flex;
    justify-content: space-between;
    border: solid 2px white;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
    width: 80%;
    max-height: 30%;
}

.photos_hébergements_populaires
{
    width: 40%;
    height: 120px;
    object-fit: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.bloc_texte_hébergements_populaires
{
    margin-left: 15px;
    margin-right: 15px;
}

.texte2 /* Nom de l'hôtel */
{
    margin-bottom: 2px;
    font-size: 0.7em;
    font-weight: bold;
}

.texte3 /* À partir de */ 
{
    margin-bottom: 30px;
    font-size: 0.7em;
}


/* SECTION 3 */



#bloc_activités
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 60px;
}

#bloc_activités_colonne_1, #bloc_activités_colonne_2, .bloc_activités_paysage
{
    display: flex;
    flex-direction: column;
    width: 23%;
    justify-content: space-between;
}

.tuile_activité_paysage, #tuile_activités_colonne_1_1, #tuile_activités_colonne_1_2, #tuile_activités_colonne_2_1, #tuile_activités_colonne_2_2
{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 6px 6px 6px 6px #F2F2F2;
}

.photos_activités_horizontales_larges, .photos_activités_verticales, .photos_activités_horizontales
{
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.photos_activités_verticales
{
    height: 300px;
}

.photos_activités_horizontales_larges
{
    height: 120px;
}

.photos_activités_horizontales
{
    height: 90px;
}

.texte4 /* Nom du lieu */
{
    margin-left: 12px;
    font-weight: bold;
    font-size: 0.8em;
}


/* FOOTER */

footer
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2
}

#footer
{
    font-size: 0.7em;
    padding-bottom: 30px;
    padding-top: 30px;
}


@media screen and (min-width: 768px) and (max-width: 1023px)
{


    #bloc_filtres /* Modification de la taille de police du bloc filtres */
    {
        font-size: 0.8em;
    }

    #filtres, .tuile-filtre /* Réduction des espacements entre les filtres */
    {
        margin-right: 15px;
    }


    .bloc_filtres_1_1_1:hover /* AU SURVOL : Réduction des espacements entre les filtres */
    {
        margin-right: 15px;
    }

    #section_hébergements /* Mise en page des blocs "Hébergements à Marseille" et "Hébergements populaires"  */
    {
        flex-direction: column;
        align-items: center;    
    }

    #Hébergements_marseille /* Caractéristiques du bloc Hébergements à Marseille */
    {
        width: auto;
        margin-bottom: 30px;
        padding-top: 10px;
    }
    
    #Hébergements_les_plus_populaires /* Caractéristiques du bloc Hébergements les plus populaires */
    {
        width: auto;
        padding-top: 10px;
    }

    #bloc_hébergements_populaires /* Nouvelle mise en page du bloc hébergements populaires */
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }

     #bloc_titre_hébergements_populaires
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    #titre_hébergements_populaires
    {
        margin-left: 17px;
        flex: 0.95;
    }

    .tuile_hébergement_populaire /* Taille de chaque tuile */
    {
        width: 30%;
    }

    .texte2, .texte3 /* Réduction de la taille du texte dans les tuiles */
    {
        font-size: 0.65em;
    }

    .bleu, .gris /* Réduction de la taille des étoiles */
    {
        font-size: 0.8em;
    }
}


@media screen and (max-width: 767px)

{
 
    main, header
    {
        margin: 0px;
    }

    /* HEADER */

    header /* Mise en forme du header */
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
    }
    
    #logo
    {
        order: 1;
        margin-right: 53%;
        width: 20%;
        padding-left: 20px;
    }

    #Inscription
    {
        order:  2;
        font-size: 0.8em;
        padding-top: 15px;
    }

    #Hébergements
    {
        order: 3;
    }

    #Activités
    {
        order: 4;
    }

    #Hébergements, #Activités
    {
        padding-bottom: 10px;
        border-bottom:  #F2F2F2 solid 2px;
        border-top: none;
        text-align: center;
        width: 50%; 
        font-size: 0.8em; 
        margin: 0px;
    }
    
    #Activités:hover, #Hébergements:hover

    {
        padding-bottom: 10px;
        border-bottom:  #0065FC solid 2px;
        border-top: none;
    }
   

    /* BLOC RECHERCHE */ 

   
    #rechercher /* Mise en forme du bouton rechercher */
    {  
        border-radius: 12px;
       width: 39px;
    }

    #rechercher i
    {
        display: inline;
    }

    #rechercher span 
    {
        display: none;
    }


    #Titre_bloc_recherche, .Texte_bloc_recherche, #formulaire
    {
        margin-right: 20px;
        margin-left: 20px;
    }
   
    #Titre_bloc_recherche
    {
        padding-top: 20px;
        font-size: 1em;
    }

    .Texte_bloc_recherche
    {
        font-size: 0.8em;
    }

    /* FILTRES */

    #mot_filtres, #filtres, #information
    {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    #bloc_filtres
    {
        flex-direction: column;
        align-items: flex-start;
        font-size: 0.9em;
    }

    #filtres
    {
        flex-wrap: wrap; 
    }

    .tuile-filtre
    {
        margin-bottom: 10px;
    }

    #mot_filtres
    {
        margin-bottom: 20px;
    }

    /* SECTION HÉBERGEMENTS */

    #section_hébergements /* Mise en page des deux blocs */
    {
        flex-direction: column-reverse;
        align-items: center;    
        margin: 0px;
    }

    /* Les plus populaires */

    #Hébergements_les_plus_populaires

    {
        background-color: #F2F2F2;
        border: #F2F2F2 2px solid;
        border-radius: 0px;
        padding-top: 10px;
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }

    .tuile_hébergement_populaire
    {
        width: 90%;
        justify-content: flex-start;
    }

    #bloc_titre_hébergements_populaires
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    #titre_hébergements_populaires
    {
        flex: 0.95;
        margin-left: 30px;
    }


    /* Hébergements à Marseille */

    #Hébergements_marseille
    {
        width: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: white;
        border: white 2px solid;
        border-radius: 0px;
        padding-top: 10px;
    }

    #Bloc_hébergements
    {
        flex-direction: column;
        align-items: center;
    }


    .Tuile_hébergement
    {
        width: 90%;
        max-height: 20%;
        box-shadow: 6px 6px 6px 6px #F2F2F2
    }

    .photos_hébergements
    {
        width: 100%;
        height: 130px;
    }

    .titre_hébergements
    {
        margin-left: 30px;
    }

    .Afficher_plus
    {
        margin-left: 25px;
        font-weight: bold;
    }

    /* ACTIVITÉS */


    #ancre_Activités
    {
        margin-left: 30px;
    }

    #bloc_activités
    {
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    #bloc_activités_colonne_1, #bloc_activités_colonne_2, .bloc_activités_paysage
    {
        width: 90%;
        margin-bottom: 30px;
    }


    #tuile_activités_colonne_2_2, #tuile_activités_colonne_1_2
    {
        margin-top: 30px;
    }

    .photos_activités_verticales, .photos_activités_horizontales_larges, .photos_activités_horizontales
    {
       height: 200px;
    }


   
    /* Footer */

    footer 
    {
        flex-direction: column;
        padding-left: 30px;
    }

   

}